/.deployment-credentials.php
/.docker/
/app/config/config.local.neon
/log/
/node_modules/
/temp/
/vendor/
/www/archive/
/www/static/**/*.*.map
/www/upload/
.idea/
.symfony5/
assets/bower_components/
assets/vendor/
var/
