#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:
    mail:
        from: "Barcamp Kolín <info@barcampkolin.cz>"
    api_token_secretkey: {secret-token}
    avatar:
        size: 400
        fallbackUrl: "https://www.barcampkolin.cz/static/{year}/img/avatar.png"
    archive:
        archivedFolders:
            - '%wwwDir%/static'
        pages:
            simple:
                - '/'
                - '/kontakt'
                - '/program'
                - '/prednasky'
                - '/o-akci'
                - '/partneri'
            talks: '/prednaska/%d'

application:
    errorPresenter: Error
    mapping:
        *: App\*Module\Presenters\*Presenter

extensions:
    replicator: Kdyby\Replicator\DI\ReplicatorExtension
    nextras.dbal: Nextras\Dbal\Bridges\NetteDI\DbalExtension
    nextras.orm: Nextras\Orm\Bridges\NetteDI\OrmExtension

nextras.dbal:
    driver: App\Dbal\RawPdoMysqlDriver()
    pdo: @database.default.connection::getPdo()

nextras.orm:
    model: App\Orm\Orm

mail:
    smtp: false
    host: vip-mail.superhosting.cz
    username: info@barcampkolin.cz
    password: app-password
    secure: ssl

tracy:
    maxDepth: 4

session:
    expiration: 14 days
    cookie_secure: %productionMode%
    debugger: false

security:
    debugger: false

http:
    csp:
        script-src: [
            strict-dynamic, nonce
            self, unsafe-inline
        ]

database:
    dsn: "mysql:host=mysqldb;dbname=default;charset=utf8mb4"
    user: root
    password: devstack
    options:
        lazy: yes

services:
    # Managers
    - App\Model\ArchiveManager(%archive.archivedFolders%, %archive.pages%)
    - App\Model\ApiTokenManager(%api_token_secretkey%)
    - App\Model\Authenticator\Email
    - App\Model\ConfigManager
    - App\Model\ConfereeManager
    - App\Model\EventInfoProvider
    - App\Model\EnumeratorManager
    - App\Model\FileManager
    - App\Model\GravatarImageProvider(%avatar.size%, %avatar.fallbackUrl%)
    - App\Model\IdentityManager
    - App\Model\MailerManager(%mail%, '%tempDir%/cache')
    - App\Model\MailDynamicLoader
    - App\Model\NewsletterSignupManager
    - App\Model\PartnersManager
    - App\Model\ScheduleManager
    - App\Model\TalkManager
    - App\Model\UserManager

    # Form
    - App\Forms\FormFactory
    - App\Forms\ConfereeForm
    - App\Forms\TalkForm
    - App\Forms\SignInFormFactory
    - App\Forms\SignUpFormFactory

    # Components
    - App\Components\Enumerator\IEnumeratorFormControlFactory
    - App\Components\Faq\IFaqControlFactory
    - App\Components\Newsletter\NewsletterSignupFactory
    - App\Components\Partners\IPartnersControlFactory
    - App\Components\Program\IProgramControlFactory
    - App\Components\Schedule\IScheduleControlFactory
    - App\Components\SignupButtons\SignupButtonsFactory
    - App\Components\SpeakerList\ISpeakerListControlFactory

    # Storages
    publicStoragePrefixer: App\Model\LocalArchivableStoragePrefixFactory('%wwwDir%/upload', '/upload')
    - App\Model\ArchiveStorage('%wwwDir%/archive')
    - App\Model\LocalFileStorage(@publicStoragePrefixer::create('/', '/file'))
    - App\Model\AvatarStorage(@publicStoragePrefixer::create('/', '/user-avatar'), %avatar.size%)
    - App\Model\PartnerLogoStorage(@publicStoragePrefixer::create('/', '/partner-logo'))

    # Router
    router: App\Router\RouterFactory::createRouter

    # System
    debugModeDetector:
        type: Redbitcz\DebugMode\Detector
        imported: true
