parameters:
    orgs:
        - name: Martin Dostál
          role: Hlavní organizátor
          photo: martin-dostal.jpg
          phone: "+420730540532"
          mail: martin@martindostal.com
          twitter: _MartinDostal
          facebook: ing.martin.dostal

        - name: Lukáš Souček
          role: Finanční diplomacie
          photo: lukas-soucek.webp
          phone: "+420723022242"
          mail: soucek.luk@gmail.com
          facebook: lukas.holecek.98

        - name: Adam Laita
          role: WordPress specialista a BC pomocník.
          photo: adam-laita.webp
          phone: "+420777086449"
          mail: adam@laita.cz
          homepage: https://www.laita.cz/
          facebook: adam.laita
          twitter: adam_laita

        - name: Jakub Bouček
          role: Webař Barcampu
          photo: https://www.jakub-boucek.cz/img/profil-500px.avif
          phone: "+420608259497"
          mail: pan@jakubboucek.cz
          homepage: https://www.jakub-boucek.cz/
          twitter: JakubBoucek
          facebook: jakub.boucek

        - name: Jiří Krejčík
          role: Zajištění akce
          photo: https://www.jirikrejcik.cz/portret-jirikrejcik.jpg
          phone: "+420720384264"
          mail: jirka@krejcik.eu
          homepage: https://www.jirikrejcik.cz/
          facebook: jiri.krejcik
          twitter: jirikrejcik

        - name: Iveta Zlatníčková
          role: Krotitelka obsahu
          photo: iveta-zlatnickova.webp
          mail: zlatnickovaiveta@gmail.com
          homepage: https://zlatnickova.cz

        - name: Adéla Hubnerová
          role: Zajištění sponzorů
          phone: "+420732582561"
          mail: adelahubnerova89@gmail.com

        - name: Denisa Kolaříková
          role: "BC Girl :)"
          photo: denisa-kolarikova.webp
          phone: "+420774080118"
          mail: endis@kolarikova.cz
          homepage: https://kolarikova.cz
          facebook: endis.kolarikova
          twitter: endis_ka

        - name: Petra Tvrdá
          role: Odbavení účastníků
          facebook: jerry.petka

        - name: Nikol Sporišová
          role: Práce s přednášejícími

        - name: Martin Kokeš
          role: Příprava akce
          photo: "https://1.gravatar.com/avatar/2a30a6fcbda2de71a14f0e1254dd76e16e0a6296e8526dd342b7369629fb8b51?size=256&d=initials"
          phone: "+420606432141"
          mail: martin@fondly.cz
          homepage: https://fondly.cz/

        - name: Pepa Řezníček
          role: Příprava akce
          mail: josef@vceliste.cz
