{block title}{block h1}Editace účastníka{/block} - Barcamp Kolín{/block}
{block content}

<table class="table">
    <tr>
        <th>Název účastníka</th>
        <td>{$conferee->name}</td>
    </tr>
</table>

{include bootstrap-form confereeEditForm}

<details>
    <summary>Smazat účastníka</summary>
    {include bootstrap-form confereeDeleteForm}
</details>
