{layout "@layout.latte"}
{block title}Reset hesla{/block}
{block preheader}Někdo, nejspíš ty, si vyžádal změnu hesla…{/block}
{block content}
<p>Ahoj barcampisto,<br>
    někdo, nejspíš ty, si vyžádal změnu hesla. Pokračuj klinutím níže:</p>

<p style="text-align: center; font-size: 14px;"><a href="{$tokenUrl}" class="call-to-action">Resetovat heslo</a></p>

<p>
    Organizační tým kolínského barcampu</p>