{block title}{block h1}Archivace{/block} - Barcamp Kolín{/block}
{block content}

<p>Toto je příkaz pro stažení živých částí celého webu pro jeho archivaci.</p>
<textarea cols="150" rows="50">{$commands}</textarea>
